# Virtual Environments
.myenv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (optional - if large)
*.csv
*.xlsx

# Model files (optional)
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log